/* 公共 start */

/* 公共 end */

/* 顶部 start */
.body_top{
    min-width: 1280px;
    height: 40px;
    line-height: 40px;
    background-color: #f0f0e9;
    font-size: 12px;
}
.icon{
    display: inline-block;
}
.btop_box{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 100%;
}
.btop_user{

}
.icon_user{
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    background:url(../image/user.png) no-repeat 100% 100%/100% 100%;
}
.btop_user_title{
    display: inline-block;
}
.btop_user_title .orange{
    color: #fe980f;
}
.btop_span{

}
.btop_user_content{

}
.btop_navbar{

}
.btop_navbar_text{
    padding: 0 40px;
    color: #2a2a2a;
}
.btop_navbar_text .arrow{
    display: inline-block;
    width: 9px;
    height: 5px;
    background:url(../image/arrow_bottom.png) no-repeat 100% 100%/100% 100%;
}
.btop_address{

}
.icon_address{
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    background:url(../image/address.png) no-repeat 100% 100%/100% 100%;
}
.btop_address_box{
    display: inline-block;
}
.btop_switch{

}
/* 顶部 end */

/* 内容 start */
.content{
    width: 100%;
    min-width: 1280px;
}
/* 内容 end */